body {
  -webkit-text-size-adjust: 100%;
  background :#FFFFFF url(background-image.jpg) repeat;
}

/** 共通 */
@default-color: #1111aa;
.emphasis-size () {
    font-size: 1.2em;
    font-weight: bold;
}
.center () {
    text-align: center;
}

.button-default {
    padding: 10px 30px;
    margin: 10px;
    .emphasis-size;
    // 背景色を黒に指定
    background-color: @default-color;
    // 文字色を白に指定
    color: #fff;
    // submitボタンのを枠を非表示にする
    border-style: none;
  .radius(4px, 0px);
}

.radius (@radius : 8px, @shadow : 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-box-shadow: 0px 0px @shadow 0px #333333;
  -webkit-box-shadow: 0px 0px @shadow 0px #333333;
  box-shadow: 0px 0px @shadow 0px #333333;
}

/** ログイン画面 */
#welcome {
    font-size: 40px;
    color: @default-color;
    .center;
    margin: 40px auto 40px auto;
}

#login-div {
    color: @default-color;
    .center;
}

.item {
    width: 80px;
    display: inline-block;
    .emphasis-size;
    text-align: left;
}

.text {
    .emphasis-size;
}

/** チャット画面 */
#chat {
    margin: 0px auto 0px auto;
	width: 500px;
	height: 420px;
	border: 1px #1e458a solid;
	background-color: #f6fcfd;
	padding: 18px;
	color: #002157;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
  .radius();
}
#room-list {
  width :150px; height :370px; border :#000000 solid 1px; background-color :#FFFFFF; float:right;
  .radius(5px, 0px);
}
#room-list > div {padding : 2px;}

.default-border () {
    border: #000000 solid 1px;
    padding: 5px;
    background-color: #FFFFFF;
}

#room {
    width :320px; 
    .default-border;
  color: @default-color;
  font-weight: bold;
  .radius(5px, 0px);
}

#messages {
    width :320px; 
    height :326px; 
    margin-top :5px; 
    overflow :auto;
    .default-border;
  .radius(5px, 0px);
}

.self-message {
    color: @default-color;
  .radius(5px, 0px);
}

#messages > div {border-bottom: #CACACA solid 1px; padding :5px; word-wrap :break-word;}
#send-message {width :400px; padding :5px; autocomplete:off;}
#send-message-btn {width :50px; padding :2px;}
